body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.description {
  white-space: pre-wrap;
}

.display {
  font-size: 60px;
  text-align: center;
}

.future {
  background-color: #77dd77;
  color: white;
}

.hour {
  align-items: center;
  background-color: #ffffff;
  border-top: 1px dashed #000000;
  color: #000000;
  display: flex;
  justify-content: center;
}

.lead {
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

textarea {
  background: transparent;
  border: none;
  border-left: 1px solid black;
  color: #000000;
  padding: 10px;
  resize: none;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.saveBtn {
  background-color: #06aed5;
  border-bottom-right-radius: 15px;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
